<%- include("partials/header") -%>
<div class="container-fluid">
  <h2 class="mb-3">Search for Your Crew</h2>
  <form action="/crews" method="get">
    <div class="row">
      <div class="col-md-10">
        <input type="text" placeholder="Crew Name" class="form-control w-100" name="crewName" value="">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success w-100" type="submit" name="button">Find Crew</button>
      </div>
    </div>
  </form>
  <form action="/crews/enterCrew" method="post">
    <div class="list-group w-100 list-group-flush mt-3" id="home">
      <table class="table">
        <% if(crews.length == 0){ %>
        <h3 class="font-weight-light mt-4" align="center"> No Crews to show </h3>
        <% } %>
        <% crews.forEach(function(crew){ %>
        <tr>
          <a id="www" class="btn pot-link mt-2 w-100" data-toggle="collapse" href="#<%= "a"+crew._id %>" role="button">
            <%= crew.name %>
          </a>
          <div class="collapse mt-2" id="<%= "a"+crew._id %>">
            <div class="card card-body pl-5 pr-5">
              <div class="row float-right">
                <div class="col-md-3 col-sm-12">
                  <h3>
                    <%= crew.name %>
                  </h3>
                  <img src="images/cheeseburger.jpeg" class="img-fluid rounded" alt="Crew Image">
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="mt-4">
                    <h5>Description:</h5>
                    <p>
                      <%= crew.description %>
                    </p>
                  </div>
                  <br>
                  <div class="mt-4">
                    <h5>Creator:</h5>
                    <p>
                      <%= crew.creatorName %>
                    </p>
                  </div>
                </div>

              </div>
              <button type="submit" class="btn btn-info mt-4" name="crewId" value="<%=crew._id%>"><i class="fas fa-door-open"></i> Enter Crew</button>
              <% if(crew.creator == userId){ %>
              <button formaction="/crews/deleteCrew" type="submit" class="btn btn-danger mt-2" name="crewId" value="<%=crew._id%>"><i class="fas fa-trash-alt"></i> Delete Crew</button>
              <%} else{%>
              <button formaction="/crews/leaveCrew" type="submit" class="btn btn-warning mt-2" name="leave" value="<%=crew._id%>"><i class="fas fa-times-circle"></i> Leave Crew</button>
              <%}%>
            </div>
          </div>
        </tr>
        <% }) %>
      </table>
    </div>
  </form>
</div>
<%- include("partials/footer") -%>
