<%- include("partials/header") -%>


<div class="container-fluid">
  <form action="/dishes/updateDish" method="post">
    <h2 class="mb-3">Edit Your Dish</h2>
    <div class="card card-body">
      <div class="row input-group mb-3">
        <div class="col-12 input-group mb-3">
          <input name="dish" type="text" class="form-control" value="<%= dish.name %>" required="true">
        </div>
        <div class="col-12">
          <form action="/upload" method="post">
            <label class="btn btn-primary">
              Change Picture
              <input type="file" style="display: none;">
            </label>
          </form>
        </div>
        <div class="col-12">
          <textarea name="description" placeholder="Description" class="form-control" name="postBody" rows="5" cols="30"><%= dish.description %></textarea>
        </div>
        <div class="col-12">
          <input name="tags" class="form-control mt-3" type="text" value="<%= dish.tags %>" placeholder="Tags">
        </div>
      </div>
      <button class="btn btn-success" type="" name="update" value="<%= dish._id %>">Update</button>
  </form>
</div>

<%- include("partials/footer") -%>
