<%- include("partials/header") -%>
<div class="container-fluid pb-5">
  <h1>
    <%= ev.name %>
  </h1>
  <div class="row">
    <div class="col-lg-3">
      <img src="/<%= ev.image %>" class="imageSize img-fluid rounded d-inline-block" alt="">
      <form class="" method="post">
        <% if(!ev.members.toString().includes(userId.toString())){ %>
          <button formaction="/crews/joinEvent" type="submit" class="btn btn-primary mt-2" name="join" value="<%= ev._id %>"><i class="fas fa-user-plus"></i> Join Event</button>
        <%} else { %>
          <button formaction="/crews/leaveEvent" type="submit" class="btn btn-warning mt-2" name="leave" value="<%= ev._id %>"><i class="fas fa-times-circle"></i> Leave Event</button>
        <% } %>
        <input type="hidden" name="crewId" value="<%= ev.crewId %>">
      </form>
      <h5 class="mt-4">Date: <%= ev.date %></h5>
      <h5>Time: <%= ev.time %></h5>
      <h5>Location: <%= ev.location %></h5>
    </div>
    <div class="col-lg-9">
      <h4>Enter a dish to bring to the event!</h4>
      <hr>
      <form action="/crews/addEventDish" method="post" enctype="multipart/form-data">
        <a class="btn btn-primary w-100" data-toggle="collapse" href="#add" role="button">
          Add a Dish
        </a>
        <div class="collapse mt-2" id="add">
          <div class="card card-body">
            <div class="row input-group mb-3">
              <div class="col-12 input-group mb-3">
                <input name="dish" type="text" class="form-control" placeholder="Dish Name" required="true">
              </div>
              <div class="col-12">
                <label class="btn btn-primary">
                  Upload Picture
                  <input name="image" type="file" style="display: none">
                </label>
              </div>
              <div class="col-12">
                <textarea name="description" placeholder="Description" class="form-control" name="postBody" rows="5" cols="30"></textarea>
              </div>
              <div class="col-12">
                <input name="tags" class="form-control mt-3" type="text" placeholder="Tags (seperate with commas)">
              </div>
            </div>
            <button class="btn btn-success" type="" name="eventId" value="<%= ev._id %>">Post</button>
          </div>
        </div>
      </form>


      <form action="/dishes/editDish" method="post">
        <div class="list-group w-100 list-group-flush mt-3" id="home">

          <table class="table">
            <% if(dishes.length == 0){ %>
            <h3 class="font-weight-light mt-4" align="center"> No dishes saved </h3>
            <% } %>
            <% dishes.forEach(function(item){ %>
            <tr>

              <a class="btn pot-link mt-2 w-100" data-toggle="collapse" href="#<%= "a"+item._id %>" role="button">
                <%= item.name %>
              </a>
              <div class="collapse mt-2" id="<%= "a"+item._id %>">
                <div class="card card-body pl-5 pr-5">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <h3 class="">
                        <%= item.name %>
                      </h3>
                      <img src="/<%= item.image %>" class="imageSize img-fluid rounded" alt="">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-12">
                      <div class="mt-4">
                        <h5>Ingredients: <!--<button class="float-right btn btn-outline-danger"><i class="fas fa-heart"></i></button> --></h5>
                        <p>
                          <%= item.description %>
                        </p>
                      </div>
                      <br>
                      <div class="mt-4">
                        <h5>Tags:</h5>
                        <p>
                          <%= item.tags %>
                        </p>
                      </div>
                    </div>
                  </div>
                  <% if(item.creator == userId || ev.creator == userId){ %>
                    <button formaction="/crews/deleteEventDish" type="submit" class="btn btn-danger mt-2 " name="dishTitle" value="<%= item._id %>"><i class="far fa-trash-alt"></i> Delete</button>
                    <input type="hidden" name="enter" value="<%= ev._id %>">
                  <% } %>
                </div>
              </div>
            </tr>
            <input type="hidden" name="dishId" value="<%= item._id %>">
            <% }) %>
          </table>
        </div>
      </form>
    </div>

  </div>
</div>

<%- include("partials/footer") -%>
